@model HomeWork1.Models.VW_CustomerReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VW_CustomerReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactCounts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactCounts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bankCounts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bankCounts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
