@model IEnumerable<HomeWork1.Models.VW_CustomerReport>

@{
    ViewBag.Title = "客戶報表";
}

<h2>客戶報表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactCounts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bankCounts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactCounts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bankCounts)
        </td>
    </tr>
}

</table>
